<!DOCTYPE html>
<html>
<head>
  <title>Board</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
</head>
<body>

  <table class="table table-hover">
  <thead>
    <th>session time</th>
    <th>vk id</th>
    <th>request ip</th>
    <th>proxy?</th>
    <th>WEB RTC detect</th>
    <th>proxy location</th>
    <th>User Agent</th>
  </thead>
  <tbody>
    <% @users.each_with_index  do |u, i| %>
        <tr>
          <td><%= u.time %></td>
          <td><a href="http://vk.com/id<%= u.vk_id.to_s %>" target="_blank"><%= u.vk_id %></a>
          </td>
          <td>
            <%= u.ip %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-xs who_is" id="who_is_<%= u.time %>" style="margin-left: 15px;">
              Whois
            </button>
            <script type="text/javascript">
             $(document).ready(function() {
                $("button.who_is#who_is_<%= u.time %>").click(function(){
                  $.get( "/who_is/<%= u.ip %>", function( data ) {
                    alert( "Data Loaded: " + data );
                  });
                });
              });
            </script>

            </td>
          <td><%= u.proxy %></td>
          <td>
            <ul>
              <li>local ip: <%= u.local_ip %></li>
              <li>public ip: <%= u.public_ip %></li>
              <li>ip v6: <%= u.ipv6 %></li>
            </ul>
          </td>
          <td><%= u.location %></td>
          <td><%= u.user_agent %></td>
        </tr>
    <% end %>
  </tbody>
  </table>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
